env: "testenv"
athena-shared:
  masterUsername: root
authSource: secret
#aws or gcp
cloud: aws
pgTemp: "/tmp/"
dbMultiAZEnabled: false
dynamicHostWaitTimeMin: 1
defaultShape: db.t4g.medium
defaultMinStorageGB: 20
defaultEngine: postgres
defaultEngineVersion: 12.11
defaultMasterPort: 5432
defaultSslMode: disable
defaultMasterUsername: postgres
defaultReclaimPolicy: delete
providerConfig: default
# For Production this should be false and if SnapShot is not taken it will not be deleted
defaultSkipFinalSnapshotBeforeDeletion: true
defaultPubliclyAccessible: false
defaultDeletionPolicy: Orphan
defaultBackupPolicyValue: Bronze
backupRetentionDays: 0
enablePerfInsight: false
enableCloudwatchLogsExport: "none"
storageType: gp3
supportSuperUserElevation: true
vpcSecurityGroupIDRefs: demo-box-1
dbSubnetGroupNameRef: demo-box-1
#AWS us-east-1 GCP us-east1
region: us-east-1
project: gcp-eng-ddiaas-dev
network: "ddiaas-dev-use1-vpc"
subnetwork: private-service-connect
numbackupstoretain: 3
defaultMajorVersion: 15

passwordConfig:
  passwordComplexity: enabled
  minPasswordLength: 15
  passwordRotationPeriod: 60

systemFunctions:
  ib_realm: "ib_realm"
  ib_env: "ib_env"
  ib_lifecycle: "ib_lifecycle"

