---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - database.aws.crossplane.io
  resources:
  - dbinstances
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - persistance.atlas.infoblox.com
  resources:
  - databaseclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - persistance.atlas.infoblox.com
  resources:
  - databaseclaims/finalizers
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - persistance.atlas.infoblox.com
  resources:
  - databaseclaims/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - persistance.atlas.infoblox.com
  resources:
  - dbroleclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - persistance.atlas.infoblox.com
  resources:
  - dbroleclaims/finalizers
  verbs:
  - update
- apiGroups:
  - persistance.atlas.infoblox.com
  resources:
  - dbroleclaims/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - persistance.infoblox.com
  resources:
  - xnetworkrecord
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - persistance.infoblox.com
  resources:
  - xnetworkrecord/finalizers
  verbs:
  - update
- apiGroups:
  - persistance.infoblox.com
  resources:
  - xnetworkrecord/status
  verbs:
  - get
  - patch
  - update
