space:
  enabled: false

image:
  repository: infoblox/db-controller
  pullPolicy: Never
  # Overrides the image tag whose default is the chart appVersion.
  tag: latest

postgresql:
  enabled: true
  postgresqlUsername: postgres
  postgresqlPassword: postgres
  debug: true

controllerConfig:
  config.yaml: |
    # master credentials source can be 'aws' or 'secret'
    authSource: "secret"
    passwordConfig:
      passwordComplexity: enabled
      minPasswordLength: "15"
      passwordRotationPeriod: "60"
    sample-connection:
      username: postgres
      host: db-controller-postgresql
      port: 5432
      useSSL: false
      passwordSecretRef: sample-master-secret
    another.connection:
      username: root
      host: some.other.service
      port: 5412
      useSSL: false
      passwordSecretRef: another-connection-secret

passwordSecretRefs:
  sample-master-secret:
    password: "{{ .Values.postgresql.postgresqlPassword }}"
  # create space example
  #sample-master-space:
  #  path: /path/to/secret
  #  secrets:
  #    password: VAULT
  #  type: Opaque

dashboards:
  dashboard:
    enabled: false
