controllerConfig:
  enableProvider: true
  enableCloudnativePG: true
  #AWS us-east-1 GCP us-east1
  region: us-east-1
  vpcSecurityGroupIDRefs: box-3
  dbSubnetGroupNameRef: box-3
  caCertificateIdentifier: "rds-ca-rsa2048-g1"
  passwordConfig:
    passwordRotationPeriod: 3m
zapLogger:
  develMode: true
  level: debug

# Block XRDs and XRs in manual deploys
xrd:
  create: false
xr:
  create: false
