{{ $appName := include "db-controller.fullname" . }}
{{ $namespace := .Release.Namespace }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name:  {{ $appName }}-manager-role
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - create
      - get
      - list
      - watch
  - apiGroups:
      - persistance.atlas.infoblox.com
    resources:
      - databaseclaims
      - dbroleclaims
      - schemauserclaims
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - persistance.atlas.infoblox.com
    resources:
      - databaseclaims/status
      - dbroleclaims/status
      - schemauserclaims/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - "rds.aws.crossplane.io"
    resources:
      - dbinstances
      - dbclusters
      - dbparametergroups
      - dbclusterparametergroups
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - "alloydb.gcp.upbound.io"
    resources:
      - instances
      - clusters
      - backups
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
    - persistance.infoblox.com
    resources:
    - xnetworkrecords
    verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
  - apiGroups:
    - persistance.infoblox.com
    resources:
    - xnetworkrecords/finalizers
    verbs:
    - update
  - apiGroups:
    - persistance.infoblox.com
    resources:
    - xnetworkrecords/status
    verbs:
    - get
    - patch
    - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ $appName }}-proxy-role
rules:
  - apiGroups:
      - authentication.k8s.io
    resources:
      - tokenreviews
    verbs:
      - create
  - apiGroups:
      - authorization.k8s.io
    resources:
      - subjectaccessreviews
    verbs:
      - create
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ $appName }}-metrics-reader
rules:
  - nonResourceURLs:
      - /metrics
    verbs:
      - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ $appName }}-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ $appName }}-manager-role
subjects:
  - kind: ServiceAccount
    name: {{ include "db-controller.serviceAccountName" . }}
    namespace: {{ $namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ $appName }}-proxy-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ $appName }}-proxy-role
subjects:
  - kind: ServiceAccount
    name: {{ include "db-controller.serviceAccountName" . }}
    namespace: {{ $namespace }}
---
